<div class="container-fluid">
  <div class="row">
    <% listings.each do |listing| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3 shadow-sm rounded" style="max-width: 100%; background-color: beige;">
          <img class="card-img-top" src="<%= asset_path 'default_caravan.png' %>" alt="Vehical image">


          <div class="card-body" style="max-width: 100%; background-color: pink;">

            <h5 class="card-title text-capitalize"><%= listing[:vehicle].title %></h5>
            <%# <p class="card-text"><%= listing[:vehicle].description</p> %>
            <%# <p class="card-text"><small class="text-body-secondary"><%= "Provider: #{listing[:vehicle].user.email}" %></small></p>
            <p class="card-text"><small class="text-body-secondary"><%= "Daily Rate: #{format_price(listing[:vehicle].price)}" %></small></p>

            <div class="d-flex mb-3 justify-content-center align-items-center">
              <%= render 'partials/days', days: listing[:days] %>
            </div>
            <%= link_to 'View', vehicle_path(listing[:vehicle]), class: "btn btn-primary text-white text-shadow rounded-pill w-50" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
