<% listings.each do |listing| %>

  <% bg_url = "https://get.pxhere.com/photo/nature-branch-structure-wood-grain-texture-plank-floor-trunk-old-pattern-soil-lumber-surface-weathered-close-up-wooden-structure-background-design-hardwood-boards-graphic-textures-material-collection-flooring-wood-grain-wood-structures-wood-flooring-washed-off-laminate-flooring-wood-stain-1281362.jpg" %>
  <%# bg_style = "background-position: center; background-repeat: no-repeat; background-size: cover; background-blend-mode: screen;" %>
  <!-- <div class="card mb-3" style="max-width: 100%; background: url(<%= asset_path 'wood-bg.png' %>); <%= %>"> -->
  <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,30,0,0.3);">
    <div id="img-and-desc" class="row g-0">
      <div class="col-md-4 temporary-vehicle" style="background: url(<%= asset_path 'default_caravan.png' %>); background-size: contain; background-position: center; background-repeat: no-repeat; background-color: white;">
      </div>

        <div class="col-md-8 px-3">
          <div class="card-body">

            <h5 class="card-title text-capitalize text-white"><%= listing[:vehicle].title %></h5>
            <p class="card-text text-white text-shadow"><%= listing[:vehicle].description %></p>
            <p class="card-text text-white text-shadow"><%= "Provider: #{listing[:vehicle].user.email}" %></p>
            <p class="card-text text-white text-shadow"><%= "Daily Rate: #{format_price(listing[:vehicle].price)}" %></p>

            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex w-100 justify-content-center">
                <%= render 'partials/days', days: listing[:days] %>
              </div>
              <%= link_to 'Reserve Now', vehicle_path(listing[:vehicle]), class: "btn btn-danger text-white text-shadow w-75 m-3 margin-auto" %>
            </div>

          </div>
        </div>
      </div>
    </div>

<% end %>
