<div class="container-fluid">
  <div class="row">
    <% listings.each do |listing| %>
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 shadow-sm rounded custom-card justify-content-center" style="max-width: 100%;">
          <img class="card-img-top img-fluid" src="<%= asset_path 'default_caravan.png' %>" alt="Vehical image">


          <div class="card-body d-flex flex-column align-items-center justify-content-center" style="max-width: 100%;">
            <div class="d-flex justify-content-between align-items-center w-100 no-wrap">
              <h5 class="card-title text-capitalize mb-0"><%= listing[:vehicle].title %></h5>
              <h5 class="card-text d-flex mb-0"><small><i class='fa-solid fa-money-bill-wave'></i><%= " ¥#{format_price(listing[:vehicle].price)}" %><span class="small-text text-grey"> day</span></small></h5>
            </div>
            <div class="row">
              <div class="d-flex my-3 align-items-center px-0">
                <%= render 'partials/days', days: listing[:days] %>
              </div>
            </div>
            <%= link_to 'Find out more', vehicle_path(listing[:vehicle]), class: "btn custom-btn text-white text-shadow rounded-pill w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
