<div class="container d-flex pt-3">
  <div class="default-card col-6 p-3 m-2">
    <h1>Booking Requests</h1>

    <% if @provider_bookings.present? %>
    <% @provider_bookings.each do |provider_booking| %>
    <div class="default-card mb-3" style="max-width: 100%;">
    <div class="d-flex justify-content-between">
    <div class="col-8">
      <div class="d-flex align-items-center">
        <h4><%= provider_booking.user.email %></h4>
      </div>
    <div class="d-flex">
      <p class="mb-0">wants to rent </p><h5 class="ms-3"><strong><%= provider_booking.vehicle.title %></strong></h5></div>
      <p>From:
      <%= provider_booking.start_date %> To: <%= provider_booking.end_date %></p>
    </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <% if provider_booking.pending? %>
    <div class="d-flex">
      <%= simple_form_for provider_booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "approved" } %>
      <%= f.submit 'Accept', class: 'm-1 btn btn-success rounded-pill' %>
    <% end %>
      <%= simple_form_for provider_booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
      <%= f.submit 'Reject', class: 'm-1 btn btn-danger text-white rounded-pill' %>
    <% end %>
     </div>
  <% else %>
  <% case provider_booking.status %>
      <% when "pending" %>
      <% badge_color = "bg-warning" %>
      <% when "approved" %>
      <% badge_color = "bg-success" %>
      <% when "declined" %>
      <% badge_color = "bg-danger" %>
      <% when "cancelled" %>
      <% badge_color = "bg-secondary" %>
      <% end %>
      <p class="m-0">Status:</p>
    <span class="badge text-white <%= badge_color %> text-shadow mb-0 ms-2 p-2 fs-6" style="border-radius: 50px;"><%= provider_booking.status %></span>
    <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No bookings found.</p>
      <% end %>
    </div>

<div class="default-card col-6 p-3 m-2">
<h1>My Bookings</h1>

<% if @my_bookings.present? %>
  <% @my_bookings.each do |booking| %>
    <div class="default-card mb-3" style="max-width: 100%;">
    <div class="row g-0">

  <div class="col-md-4 temporary-vehicle position-relative" style="background: url(<%= asset_path "exteriors/exterior-#{booking.vehicle.id % 31}.jpeg" %>); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: white; border-radius: 10px;   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);">
  <% case booking.status %>
      <% when "pending" %>
      <% badge_color = "bg-warning" %>
      <% when "approved" %>
      <% badge_color = "bg-success" %>
      <% when "declined" %>
      <% badge_color = "bg-danger" %>
      <% when "cancelled" %>
      <% badge_color = "bg-secondary" %>
      <% end %>

   <span class="badge text-white <%= badge_color %> text-shadow position-absolute mt-2 ms-2 p-2" style="border-radius: 50px; width: 100px; z-index: 1;"><%= booking.status %></span>
      </div>

        <div class="col-md-8 px-3">
          <div class="card-body">

  <% rental_duration = (booking.end_date.to_time - booking.start_date.to_time).to_i / 1.day.seconds + 1 %>

            <div class="d-flex justify-content-between col-12">
            <h4 class="card-title text-capitalize"><%= booking.vehicle.title %></h4>
            <h5>¥<%= format_price(booking.vehicle.price * rental_duration) %></h5>
            </div>
            <div>
            <div class="d-flex"><p class="card-text text-primary col-4">Rental: </p><p class="col-4"><%= booking.start_date %></p></div>
            <div class="d-flex"><p class="card-text text-primary col-4">Return: </p><p class="col-4"><%= booking.end_date %></p></div>
            <div class="d-flex justify-content-end"><p class="card-text">(<%= rental_duration %> days)</p></div>
            </div>

            <p class="card-text">Provider: <%=  booking.vehicle.user.email %></p>
            <div class="d-flex justify-content-between"><p class="card-text">Daily Rate: </p><p>¥<%= format_price(booking.vehicle.price) %></p></div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No bookings found.</p>
<% end %>
</div>
</div>
