<div class="col-12 mt-3 p-4 container border shadow-sm d-flex flex-column justify-content-center align-items-center">
  <h1>Reserve "<span class="text-capitalize"><%= @vehicle.title %></span>"</h1>
  <%# TODO: Add a picture of the caravan to the booking page (after we integrate image uploads).%>
  <%= form_with(model: [@vehicle, @booking], local: true, data: { controller: "booking-form", booking_form_price_per_day_value: @vehicle.price }) do |form| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field m-4">
      <%= form.label :start_date, "Rental Date:" %>
      <%= form.text_field :start_date, data: { booking_form_target: "startDate", action: "booking-form#calculateTotalPrice", controller: "flatpickr" }, class: "form-control" %>
    </div>
    <div class="field m-4">
      <%= form.label :end_date, "Return Date:" %>
      <%= form.text_field :end_date, data: { booking_form_target: "endDate", action: "booking-form#calculateTotalPrice", controller: "flatpickr" }, class: "form-control" %>
    </div>
    <div class="total-price m-4 p-2 rounded">
      <h2 class="lead" data-booking-form-target="totalPrice">Total Price:</h2>
    </div>
    <%= form.hidden_field :vehicle_id, value: @vehicle.id %>
    <div class="w-100 d-flex justify-content-center">
      <div class="actions">
        <%= form.submit "Create Booking", class: "btn btn-danger text-shadow text-white" %>
      </div>
    </div>
  <% end %>
</div>
