
<div class="col-6 container d-flex justify-content-center align-items-center mt-3">
  <%= form_with url: "/vehicles/search", method: :get, class: "col-12 fs-4 d-flex justify-content-start align-items-center" do |form| %>
    <%# form.label :query, "" %>
    <%= form.text_field :query, placeholder: "Find your perfect caravan!", class: "p-1 px-3 col-8 fs-4" %>
    <%= form.submit "ðŸ”", class: "btn btn-success text-white text-shadow fs-4 mx-2 rounded-pill" %>
  <% end %>
</div>

<div class="container d-flex flex-column pt-3">
  <%= render 'partials/listings', listings: @listings %>
</div>
<!--
  <% @listings.each do |listing| %>
  <div class="card mb-3 shadow-sm" style="max-width: 100%;">
    <div class="row g-0">

      <div class="col-md-4 temporary-vehicle" style="background: url(<%= asset_path 'default_caravan.png' %>); background-size: contain; background-position: center; background-repeat: no-repeat; background-color: white;">
      </div>

        <div class="col-md-8 px-3">
          <div class="card-body">

            <h5 class="card-title text-capitalize"><%= listing[:vehicle].title %></h5>
            <p class="card-text"><%= listing[:vehicle].description %></p>
            <p class="card-text"><small class="text-body-secondary"><%= "Provider: #{listing[:vehicle].user.email}" %></small></p>
            <p class="card-text"><small class="text-body-secondary"><%= "Daily Rate: #{format_price(listing[:vehicle].price)}" %></small></p>

            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex w-100 justify-content-center">
                <%= render 'partials/days', days: listing[:days] %>
              </div>
              <%= link_to 'Reserve Now', vehicle_path(listing[:vehicle]), class: "btn btn-danger text-white text-shadow w-75 m-3 margin-auto" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
