<div class="container">

  <%= simple_form_for [@vehicle] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%# f.input :days %>
    <%= f.submit %>
  <% end %>
</div>
