<div class="container d-flex w-50 flex-column pt-3">

  <%= form_with url: "/vehicles/search", method: :get do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>

  <%= render 'partials/listings', listings: @listings %>
</div>
