<div class="w-75 mt-3 p-4 container border shadow-sm d-flex flex-column justify-content-center">

  <!-- This is the content header section -->
  <div class="px-4">
    <div>
      <h1 class="text-capitalize">
        <%= @listing[:vehicle].title %>
      </h1>
    </div>
    <!-- Decorative Icons
    <div class="icons">
      <i class="icon1 fa-sharp fa-solid fa-arrow-up-from-bracket"></i>
      <i class="icon2 fa-regular fa-heart"></i>
    </div> -->
  </div>

  <!-- This is the image carousel and description section -->
  <div class="d-flex flex-wrap w-100 align-items-center justify-content-center p-2">

    <!-- Image Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide w-50 mx-3">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "campingcar.jpeg", alt: "camping car", class: "d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "interior.webp", alt: "camping car interior", class: "d-block w-100"%>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-black rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-black rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


      <!-- Description -->
      <table class="d-flex flex-column justify-content-evenly mx-2">
        <tbody>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-money-bill-wave"></i></td>
            <td class="px-4 fs-5">Â¥<%= @listing[:vehicle].price %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-circle-info"></i></td>
            <td class="px-4 fs-5"><%= @listing[:vehicle].description %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-calendar-days"></i></td>
            <td class="px-4 fs-5 d-flex flex-wrap"><%= render 'partials/days', days: @listing[:days] %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-regular fa-user"></i></td>
            <td class="px-4 fs-5"><%= @listing[:vehicle].user.email %></td>
          </tr>

        </tbody>
      </table>
    </div>

    <!-- This is the CTA -->
    <div class="w-100 d-flex justify-content-around mt-3 px-5">
      <%= link_to 'ã€ˆ Browse More Vehicles', vehicles_url, class: "fs-5 btn btn-success text-white text-shadow mx-3" %>
      <% if @listing[:vehicle][:user_id] == current_user.id %>
        <%# Displays Edit Button if provider / owner %>
        <%= link_to 'ðŸ“ Edit Vehicle Info', edit_vehicle_path, class: "fs-5 btn btn-primary text-white text-shadow flex-grow-1 mx-5" %>
      <% else%>
        <%# Displays Reserve Button if customer %>
        <%= link_to 'Reserve This Vehicle', new_vehicle_booking_path(@listing[:vehicle]), class: "fs-5 btn btn-danger text-white text-shadow flex-grow-1 mx-5" %>
      <% end %>
    </div>

  </div>


    <!-- This is the section to display customer reviews -->
  <div class="w-75 mt-3 p-4 container border shadow-sm d-flex flex-column justify-content-center">
    <h2>Reviews</h2>
  </div>
</div>
