<div class="col-12 mt-3 p-4 bg-white rounded-4 container border shadow-sm d-flex flex-column justify-content-center align-items-center">



    <!-- Decorative Icons
    <div class="icons">
      <i class="icon1 fa-sharp fa-solid fa-arrow-up-from-bracket"></i>
      <i class="icon2 fa-regular fa-heart"></i>
    </div> -->

  <!-- This is the image carousel and description section -->
  <div class="d-flex flex-wrap w-100 align-items-center justify-content-center p-2">

    <!-- This is the content header section -->
    <h1 class="col-lg-10 col-sm-8 text-capitalize mb-3">
      <%= @listing[:vehicle].title %>
    </h1>

    <!-- Image Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide col-lg-6 col-sm-8 mx-3">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <%= image_tag "exteriors/exterior-#{@listing[:vehicle][:id] % 31}.jpeg", alt: "camping car", class: "d-block", style: "height: 300px;" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <%= image_tag "interiors/interior-#{@listing[:vehicle][:id] % 31}.jpeg", alt: "camping car", class: "d-block", style: "height: 300px;" %>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-black rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-black rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


      <!-- Description -->
      <table class="col-lg-4 col-sm-8 d-flex flex-column justify-content-evenly mx-2">
        <tbody>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-money-bill-wave"></i></td>
            <td class="px-4 fs-5">Â¥<%= @listing[:vehicle].price %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-circle-info"></i></td>
            <td class="px-4 fs-5"><%= @listing[:vehicle].description %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-solid fa-calendar-days"></i></td>
            <td class="px-4 fs-5 d-flex flex-wrap"><%= render 'partials/days', days: @listing[:days] %></td>
          </tr>
          <tr class="d-flex align-items-center my-5">
            <td class="fs-1 col-1"><i class="d-flex justify-content-center fa-regular fa-user"></i></td>
            <td class="px-4 fs-5"><%= @listing[:vehicle].user.email %></td>
          </tr>

        </tbody>
      </table>
    </div>

    <!-- This is the Button Section with CTA -->
    <div class="col-lg-10 col-sm-8 mt-2 d-flex flex-wrap justify-content-between">
      <%= link_to 'ã€ˆ See Other Vehicles', vehicles_url, class: "rounded-pill col-lg-4 col-sm-12 my-2 fs-5 btn btn-secondary text-white text-shadow d-flex align-items-center justify-content-center" %>
      <% unless @listing[:vehicle][:user_id] == current_user.id %>
        <%# Displays Reserve Button if customer %>
        <%= link_to 'Reserve This Vehicle', new_vehicle_booking_path(@listing[:vehicle]), class: "rounded-pill col-lg-7 col-sm-12 my-2 fs-5 btn btn-danger text-white text-shadow d-flex align-items-center justify-content-center" %>
      <% else%>
        <%# Displays Edit Button if provider / owner %>
        <%= link_to 'ðŸ“ Edit Vehicle Info', edit_vehicle_path, class: "rounded-pill col-lg-7 col-sm-12 my-2 fs-5 btn btn-primary text-white text-shadow d-flex align-items-center justify-content-center" %>
      <% end %>

<% if current_user && @booking.present? %>
  <h4>
    You have booked this vehicle <%= @booking_count %> <%= "time".pluralize(@booking_count) %>
  </h4>
  <%= link_to 'How was your experience on this vehicle?', new_vehicle_booking_review_path(@listing[:vehicle], @booking), class: "rounded-pill col-lg-12 col-sm-12 my-2 fs-5 btn btn-primary text-white text-shadow d-flex align-items-center justify-content-center w-100" %>
<% end %>
    </div>

  </div>

    <!-- This is the section to display customer reviews -->
<div class="default-card col-12 mt-3 p-4 container border shadow-sm d-flex flex-column justify-content-center">
  <h2 class="text-center">Reviews</h2>
  <% if @reviews_for_vehicle.any? %>
    <% @reviews_for_vehicle.each do |review| %>
      <div class="review-card my-4 p-3 rounded border">
      <p class="mb-2"><%= review.user.email %></p> <!-- Display user email -->
        <p class="mb-2"><%= review.content %></p>
        <div class="star-rating mb-2">
          <% review.rating.to_i.times do %>
            <span class="star" style="color: #ffd700;">â˜…</span>
          <% end %>
          <% (5 - review.rating.to_i).times do %>
            <span class="star" style="color: #ffd700;">â˜†</span>
          <% end %>
        </div>
        <!-- Display other review details as needed -->
      </div>
    <% end %>
  <% else %>
    <p class="text-center">No reviews available for this vehicle.</p>
  <% end %>
</div>
</div>
