<!DOCTYPE html>
<html>
  <head>
    <title>CaravanMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <%= turbo_include_tags %>
  </head>

  <body style="position: relative; background: url(<%= @bg_url %>); background-position: top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

    <!-- This div covers the background with a translucent black layer to increase contrast with bg-image -->
    <div style="z-index: -10; position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .3);"></div>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
